.flex{
       display:flex;
}
.items-center{
    align-items:center;
}
.justify-between{
    justify-content: space-between;
}
.flex-1{
    flex:1;
}
.justify-center{
    justify-content:center;
}